## Data Exploration of Understat data

In [9]:
import pandas as pd
import numpy as np
import plotly
import plotly.express as px
import os

In [28]:
#Let's read the data in in one big table
df_list = []
for file in os.listdir('Project_data/league_tables'):
    df_temp = pd.read_csv(f'Project_data/league_tables/{file}')
    df_list.append(df_temp)
df = pd.concat(df for df in df_list).set_index('position')

,Team,matches,wins,draws,loses,scored,conceded,pts,xG,npxG,...,npxGD,ppda_coef,oppda_coef,deep,deep_allowed,xpts,GD,position.1,league,year
position,,,,,,,,,,,,,,,,,,,,,
1,Real Madrid,38,29.0,6.0,3.0,106.0,41.0,93.0,90.866410,84.920340,...,51.030512,9.742439,13.407533,333.0,173.0,86.1701,65.0,1,La_liga,2016
2,Barcelona,38,28.0,6.0,4.0,116.0,37.0,90.0,93.551594,86.862234,...,55.546571,6.702330,15.710111,552.0,144.0,87.9535,79.0,2,La_liga,2016
3,Atletico Madrid,38,23.0,9.0,6.0,70.0,27.0,78.0,60.658900,54.532810,...,26.169233,9.954444,8.828843,265.0,168.0,69.1021,43.0,3,La_liga,2016
4,Sevilla,38,21.0,9.0,8.0,69.0,49.0,72.0,59.094825,55.270584,...,20.400488,6.979835,10.788850,338.0,201.0,66.1788,20.0,4,La_liga,2016
5,Villarreal,38,19.0,10.0,9.0,56.0,33.0,67.0,52.228737,46.282513,...,7.577777,11.527583,10.592704,268.0,260.0,59.5719,23.0,5,La_liga,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,VfB Stuttgart,34,9.0,9.0,16.0,42.0,60.0,36.0,45.639776,44.882003,...,-0.186879,10.032086,9.610372,143.0,201.0,44.2593,-18.0,14,Bundesliga,2014
15,Hertha Berlin,34,9.0,8.0,17.0,36.0,52.0,35.0,32.656432,29.625334,...,-14.299616,11.585389,6.815631,96.0,196.0,36.1052,-16.0,15,Bundesliga,2014
16,Hamburger SV,34,9.0,8.0,17.0,25.0,50.0,35.0,32.859179,30.585841,...,-19.181601,8.405638,7.317977,138.0,185.0,33.5677,-25.0,16,Bundesliga,2014
17,Freiburg,34,7.0,13.0,14.0,36.0,47.0,34.0,38.688021,31.868182,...,-12.526945,13.476949,8.307599,229.0,232.0,43.0214,-11.0,17,Bundesliga,2014
18,Paderborn,34,7.0,10.0,17.0,31.0,65.0,31.0,36.079765,35.321988,...,-15.144018,11.719608,6.643987,147.0,233.0,36.1625,-34.0,18,Bundesliga,2014